
.places {
  margin-left: 148px;
  padding: 0;
  width: calc(100% - 2*148px);
}


@media screen and (max-width: 1024px) {
  .places {
    margin-left: 48px;
    width: calc(100% - 2*48px);
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .places {
    margin-left: 24px;
    width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 640px) {
  .places {
    margin: 0;
    width: 100%;
  }
}


