/* 1280, 1024 */
.lead__title {
  display: flex;
  margin: 0 auto 32px;
  padding: 0;
  max-width: 720px;
  font-family: "Inter","Arial";
  font-weight: 900;
  font-style: normal;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin-bottom: 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    
  }
}
